#borrowing{
	padding-top: 1em;
}
#borrowingForm {
	text-align: center;
	align-items: center;
}
#borrowingForm select {
	width: 100%;
	margin : 0.5em 0;
	margin-bottom: 1em;
	font-size: 1em;
}

#borrowingForm select :nth-child(odd) {
	background-color: #DDE5B6;
}
#borrowingForm select :nth-child(even) {
	background-color: #f0ead2;
}

#borrowingForm input[type="submit"] {
	width: 70%;
	margin : 0.5em 0;
	display: block;
	background-color: #ADC178;
	color: white;
	border: none;
	padding: 0.5em;
	align-self: center;
	align-items: center;
}
#borrowingForm input[type="submit"]:hover {
	background-color: #DDE5B6;
	color: black;
}
