#home h1 {
	color: red;
}

#home table {
	border-collapse: collapse;
}

#home table tr:nth-child(odd) {
	background-color: #DDE5B6;
}

#home table th {
	background-color: #ADC178;
}

#home table td {
	border: 1px solid black;
}